.main {
	&__top-elem {
		right: 0;
		width: 57%;
	}

	&__left-elem {
		width: 48%;
		top: 7%;
		right: 4%;
	}

	&__right-elem {
		width: 10%;
		left: 95%;
		top: -20%;
	}

	&__bottom-elem {
		left: -13%;
		top: 52%;
		width: 12%;
	}
}
.style-elems {
	z-index: 2;
	position: absolute;
}

.bg-img {
	width: 100%;
}

@media (max-width: 1023px) {
	.main {
		&__right-elem {
			top: 0%;
		}
	}
}
